@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --table-headers: rgb(0, 21, 44);
    --table-header-color: white;
    --table-td: rgb(84, 86, 113);
    --table-td-text: rgb(230, 233, 246);
}