body {
    font-family: 'Ubuntu';
}

.submenu {
    display: none;
    background-color: blue;
}

.students table {
    font-size: 1.5em;
    margin: 0 auto;
    background-color: aliceblue;
    width: 50%;
}

.students table caption {
    font-weight: bold;
    margin: 1em;
}

.students table th {
    font-weight: 500;
    text-align: left;
}

.students th {
    background-color: var(--table-headers);
    color: var(--table-header-color)
}

.students td {
    padding: 3px;
    border-bottom: 1px solid;
    border-color: rgb(255, 255, 255);
    background-color: var(--table-td);
    color: var(--table-td-text);
}

.students td a {
    color: var(--table-td-text);
    text-decoration: none;
}

.content_wrapper {
    width: 65%;
    margin: 2em auto;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
}

#quotePopup {
    color: white;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 25%;
    width: 50%;
}

.invisible {
    visibility: hidden;
}
.visibility {
    visibility: visible;
}

.quote {
    animation: flicker 1.5s infinite alternate;
    font-size: 2em;
}
.neonText {
    color: #fff;
    background-color: rgba(32, 2, 18, 0.954);
    padding: 2em 2em;
    border-radius: 2em;
    box-shadow: 0  0 1em #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }